# PROYECTO 1
 * Guido Margiotta
 * Juan Morales

## Importando librerias

In [41]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline

## Obteniendo datos Argentina:
    * Base de datos de inflación mensual por sectores
    * Base de datos de inflación anual por sectores
    * Creación de MultiIndex (Año, Mes)
    * Tasas de intervención

In [42]:
inflacion_arg_men = pd.read_excel("Inflación Argentina.xlsx",sheet_name = "Inflacion mensual por sector")
inflacion_arg_men.head()

,Año,Mes,nivel_general_mensual,alimentos_bebidas_no_alc_mensual,alcohol_tabaco_mensual,vestimenta_mensual,vivienda_mensual,hogar_mensual,salud_mensual,transporte_mensual,comunicación_mensual,recreacion_mensual,educacion_mensual,restaurantes_hoteles_mensual,bienes_servicios_varios_mensual
0,2017,Enero,1.6,1.3,0.9,-1.0,1.5,0.9,2.4,2.1,3.1,3.2,0.8,3.1,1.9
1,2017,Febrero,2.1,1.8,4.3,-0.2,5.4,0.4,2.7,1.9,4.1,0.6,3.2,1.7,1.8
2,2017,Marzo,2.4,2.8,1.9,3.4,3.6,0.8,2.0,1.2,3.2,1.7,10.9,1.0,1.8
3,2017,Abril,2.7,2.2,2.4,4.5,5.9,1.1,1.8,0.6,6.8,2.6,2.9,1.9,1.8
4,2017,Mayo,1.4,1.3,1.7,1.7,1.8,2.8,1.5,0.9,0.3,0.7,1.7,1.5,1.3

In [43]:
index = list(zip(inflacion_arg_men["Año"],inflacion_arg_men["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [44]:
inflacion_arg_men.set_index(index,inplace = True)
inflacion_arg_men.drop(["Año", "Mes"], axis = 1, inplace = True)

In [45]:
inflacion_arg_men.head()

              nivel_general_mensual  alimentos_bebidas_no_alc_mensual  \
2017 Enero                      1.6                               1.3
     Febrero                    2.1                               1.8
     Marzo                      2.4                               2.8
     Abril                      2.7                               2.2
     Mayo                       1.4                               1.3

              alcohol_tabaco_mensual  vestimenta_mensual  vivienda_mensual  \
2017 Enero                       0.9                -1.0               1.5
     Febrero                     4.3                -0.2               5.4
     Marzo                       1.9                 3.4               3.6
     Abril                       2.4                 4.5               5.9
     Mayo                        1.7                 1.7               1.8

              hogar_mensual  salud_mensual  transporte_mensual  \
2017 Enero              0.9            2.4                 2.1
     Febrero            0.4            2.7                 1.9
     Marzo              0.8            2.0                 1.2
     Abril              1.1            1.8                 0.6
     Mayo               2.8            1.5                 0.9

              comunicación_mensual  recreacion_mensual  educacion_mensual  \
2017 Enero                     3.1                 3.2                0.8
     Febrero                   4.1                 0.6                3.2
     Marzo                     3.2                 1.7               10.9
     Abril                     6.8                 2.6                2.9
     Mayo                      0.3                 0.7                1.7

              restaurantes_hoteles_mensual  bienes_servicios_varios_mensual
2017 Enero                             3.1                              1.9
     Febrero                           1.7                              1.8
     Marzo                             1.0                              1.8
     Abril                             1.9                              1.8
     Mayo                              1.5                              1.3

In [46]:
inflacion_arg_anual = pd.read_excel("Inflación Argentina.xlsx",sheet_name = "Inflacion anual por sector")
inflacion_arg_anual.head()

,Año,Mes,nivel_general_anual,alimentos_bebidas_anual,alcohol_tabaco_anual,vestimenta_anual,servicios_vivienda_anual,hogar_anual,salud_anual,transporte_anual,comunicacion_anual,recreacion_anual,educacion_anual,restaurantes_hoteles_anual,bienes_servicios_varios_anual
0,2017,Diciembre,24.8,20.4,23.7,16.6,55.6,17.4,27.8,20.6,34.1,22.8,31.5,22.1,19.8
1,2018,Enero,25.0,21.3,25.4,16.9,54.9,17.6,27.1,20.7,32.6,23.1,31.3,21.9,20.4
2,2018,Febrero,25.4,21.7,22.3,16.4,52.5,19.1,26.6,23.8,39.0,23.6,29.7,22.4,20.3
3,2018,Marzo,25.4,21.2,20.8,17.4,48.0,23.5,25.8,24.6,38.4,23.0,33.0,23.3,20.4
4,2018,Abril,25.5,19.9,19.5,16.9,51.0,23.7,25.8,28.8,30.9,22.2,30.3,23.7,20.3

In [47]:
index = list(zip(inflacion_arg_anual["Año"],inflacion_arg_anual["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [48]:
inflacion_arg_anual.set_index(index, inplace=True)
inflacion_arg_anual.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_arg_anual.head()

                nivel_general_anual  alimentos_bebidas_anual  \
2017 Diciembre                 24.8                     20.4
2018 Enero                     25.0                     21.3
     Febrero                   25.4                     21.7
     Marzo                     25.4                     21.2
     Abril                     25.5                     19.9

                alcohol_tabaco_anual  vestimenta_anual  \
2017 Diciembre                  23.7              16.6
2018 Enero                      25.4              16.9
     Febrero                    22.3              16.4
     Marzo                      20.8              17.4
     Abril                      19.5              16.9

                servicios_vivienda_anual  hogar_anual  salud_anual  \
2017 Diciembre                      55.6         17.4         27.8
2018 Enero                          54.9         17.6         27.1
     Febrero                        52.5         19.1         26.6
     Marzo                          48.0         23.5         25.8
     Abril                          51.0         23.7         25.8

                transporte_anual  comunicacion_anual  recreacion_anual  \
2017 Diciembre              20.6                34.1              22.8
2018 Enero                  20.7                32.6              23.1
     Febrero                23.8                39.0              23.6
     Marzo                  24.6                38.4              23.0
     Abril                  28.8                30.9              22.2

                educacion_anual  restaurantes_hoteles_anual  \
2017 Diciembre             31.5                        22.1
2018 Enero                 31.3                        21.9
     Febrero               29.7                        22.4
     Marzo                 33.0                        23.3
     Abril                 30.3                        23.7

                bienes_servicios_varios_anual
2017 Diciembre                           19.8
2018 Enero                               20.4
     Febrero                             20.3
     Marzo                               20.4
     Abril                               20.3

In [49]:
tasa_intervencion_arg = pd.read_excel("tasa de intervencion-Argentina.xls",sheet_name = "tasa de intervencion")
tasa_intervencion_arg.head()

    Año      Mes  tasa_mensual
0  2019    Enero     57.578677
1  2019  Febrero     47.721964
2  2019    Marzo     61.287355
3  2019    Abril     68.316700
4  2019     Mayo     71.924129

In [50]:
index = list(zip(tasa_intervencion_arg["Año"],tasa_intervencion_arg["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [51]:
tasa_intervencion_arg.set_index(index, inplace=True)
tasa_intervencion_arg.drop(["Año", "Mes"], axis=1, inplace=True)
tasa_intervencion_arg.head()

              tasa_mensual
2019 Enero       57.578677
     Febrero     47.721964
     Marzo       61.287355
     Abril       68.316700
     Mayo        71.924129

## Obteniendo datos Colombia:
    * Base de datos inflación mensual por sector año 2019-2022
    * Base de datos inflación anual por sector año 2019-2022
    * Creación MultiIndex (Año, Mes)
    * Tasa de intervención

In [52]:
inflacion_col_mensual21 = pd.read_excel("1.2.3.IPC_Por grupo de gasto Colombia.xlsx", sheet_name="Inflacion mensual por sector 21")
inflacion_col_mensual21.head()

,Año,Mes,nivel_general_mensual,alimentos_bebidas_no_alc_mensual,alcohol_tabaco_mensual,vestimenta_mensual,vivienda_mensual,hogar_mensual,salud_mensual,transporte_mensual,comunicación_mensual,recreacion_mensual,educacion_mensual,restaurantes_hoteles_mensual,bienes_servicios_varios_mensual
0,2019,Enero,0.60,1.40,0.49,-0.16,0.25,0.46,0.37,0.37,1.44,0.47,0.00,1.15,0.78
1,2019,Febrero,0.57,0.23,1.05,0.08,0.27,0.39,-0.02,0.78,-0.12,0.53,4.48,0.75,0.57
2,2019,Marzo,0.43,0.95,0.94,-0.02,0.67,0.37,0.15,0.38,-0.13,-0.50,0.03,-0.03,0.27
3,2019,Abril,0.50,1.07,0.81,0.07,0.47,0.46,0.31,0.23,0.72,0.33,0.09,0.47,0.30
4,2019,Mayo,0.31,0.65,0.79,0.29,0.43,0.32,0.25,0.01,-0.06,0.19,0.05,0.18,0.12

In [53]:
index = list(zip(inflacion_col_mensual21["Año"], inflacion_col_mensual21["Mes"]))
index = pd.MultiIndex.from_tuples(index)


inflacion_col_mensual21.set_index(index, inplace=True)
inflacion_col_mensual21.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_mensual21.head()

              nivel_general_mensual  alimentos_bebidas_no_alc_mensual  \
2019 Enero                     0.60                              1.40
     Febrero                   0.57                              0.23
     Marzo                     0.43                              0.95
     Abril                     0.50                              1.07
     Mayo                      0.31                              0.65

              alcohol_tabaco_mensual  vestimenta_mensual  vivienda_mensual  \
2019 Enero                      0.49               -0.16              0.25
     Febrero                    1.05                0.08              0.27
     Marzo                      0.94               -0.02              0.67
     Abril                      0.81                0.07              0.47
     Mayo                       0.79                0.29              0.43

              hogar_mensual  salud_mensual  transporte_mensual  \
2019 Enero             0.46           0.37                0.37
     Febrero           0.39          -0.02                0.78
     Marzo             0.37           0.15                0.38
     Abril             0.46           0.31                0.23
     Mayo              0.32           0.25                0.01

              comunicación_mensual  recreacion_mensual  educacion_mensual  \
2019 Enero                    1.44                0.47               0.00
     Febrero                 -0.12                0.53               4.48
     Marzo                   -0.13               -0.50               0.03
     Abril                    0.72                0.33               0.09
     Mayo                    -0.06                0.19               0.05

              restaurantes_hoteles_mensual  bienes_servicios_varios_mensual
2019 Enero                            1.15                             0.78
     Febrero                          0.75                             0.57
     Marzo                           -0.03                             0.27
     Abril                            0.47                             0.30
     Mayo                             0.18                             0.12

In [54]:
inflacion_col_anual21 = pd.read_excel("1.2.3.IPC_Por grupo de gasto Colombia.xlsx", sheet_name="Inflacion anual por sector 21")
inflacion_col_anual21.head()

,Año,Mes,nivel_general_anual,alimentos_bebidas_anual,alcohol_tabaco_anual,vestimenta_anual,servicios_vivienda_anual,hogar_anual,salud_anual,transporte_anual,comunicacion_anual,recreacion_anual,educacion_anual,restaurantes_hoteles_anual,bienes_servicios_varios_anual
0,2019,Enero,3.15,NaN,4.03,NaN,NaN,NaN,NaN,NaN,1.69,NaN,NaN,NaN,NaN
1,2019,Febrero,3.01,NaN,3.91,NaN,NaN,NaN,NaN,NaN,1.33,NaN,NaN,NaN,NaN
2,2019,Marzo,3.21,NaN,4.37,NaN,NaN,NaN,NaN,NaN,1.20,NaN,NaN,NaN,NaN
3,2019,Abril,3.25,NaN,4.82,NaN,NaN,NaN,NaN,NaN,1.93,NaN,NaN,NaN,NaN
4,2019,Mayo,3.31,NaN,5.12,NaN,NaN,NaN,NaN,NaN,1.88,NaN,NaN,NaN,NaN

In [55]:
index = list(zip(inflacion_col_anual21["Año"], inflacion_col_anual21["Mes"]))
index = pd.MultiIndex.from_tuples(index)


inflacion_col_anual21.set_index(index, inplace=True)
inflacion_col_anual21.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_anual21.head()

              nivel_general_anual  alimentos_bebidas_anual  \
2019 Enero                   3.15                      NaN
     Febrero                 3.01                      NaN
     Marzo                   3.21                      NaN
     Abril                   3.25                      NaN
     Mayo                    3.31                      NaN

              alcohol_tabaco_anual  vestimenta_anual  \
2019 Enero                    4.03               NaN
     Febrero                  3.91               NaN
     Marzo                    4.37               NaN
     Abril                    4.82               NaN
     Mayo                     5.12               NaN

              servicios_vivienda_anual  hogar_anual  salud_anual  \
2019 Enero                         NaN          NaN          NaN
     Febrero                       NaN          NaN          NaN
     Marzo                         NaN          NaN          NaN
     Abril                         NaN          NaN          NaN
     Mayo                          NaN          NaN          NaN

              transporte_anual  comunicacion_anual  recreacion_anual  \
2019 Enero                 NaN                1.69               NaN
     Febrero               NaN                1.33               NaN
     Marzo                 NaN                1.20               NaN
     Abril                 NaN                1.93               NaN
     Mayo                  NaN                1.88               NaN

              educacion_anual  restaurantes_hoteles_anual  \
2019 Enero                NaN                         NaN
     Febrero              NaN                         NaN
     Marzo                NaN                         NaN
     Abril                NaN                         NaN
     Mayo                 NaN                         NaN

              bienes_servicios_varios_anual
2019 Enero                              NaN
     Febrero                            NaN
     Marzo                              NaN
     Abril                              NaN
     Mayo                               NaN

In [56]:
tasa_intervencion_col = pd.read_excel("tasa de intervencion-Colombia.xlsx", sheet_name= "tasa de intervencion")
tasa_intervencion_col.head()

    Año      Mes  tasa_mensual
0  2019    Enero          4.25
1  2019  Febrero          4.25
2  2019    Marzo          4.25
3  2019    Abril          4.25
4  2019     Mayo          4.25

In [57]:
index = list(zip(tasa_intervencion_col["Año"], tasa_intervencion_col["Mes"]))
index = pd.MultiIndex.from_tuples(index)


tasa_intervencion_col.set_index(index, inplace=True)
tasa_intervencion_col.drop(["Año", "Mes"], axis=1, inplace=True)
tasa_intervencion_col.head()

              tasa_mensual
2019 Enero            4.25
     Febrero          4.25
     Marzo            4.25
     Abril            4.25
     Mayo             4.25

## Uniendo los datos

La unión se va a realizar por país, usando como llave el MultiIndex Año, Mes

In [63]:
info_arg = inflacion_arg_men.join(inflacion_arg_anual, how = 'inner').join(tasa_intervencion_arg, how='inner')
info_arg.head()

              nivel_general_mensual  alimentos_bebidas_no_alc_mensual  \
2019 Enero                      2.9                               3.4
     Febrero                    3.8                               5.7
     Marzo                      4.7                               6.0
     Abril                      3.4                               2.5
     Mayo                       3.1                               2.4

              alcohol_tabaco_mensual  vestimenta_mensual  vivienda_mensual  \
2019 Enero                       3.5                -0.6               3.1
     Febrero                     2.4                 1.0               6.4
     Marzo                       4.1                 6.6               2.8
     Abril                       1.0                 6.2               2.9
     Mayo                        2.2                 3.4               4.0

              hogar_mensual  salud_mensual  transporte_mensual  \
2019 Enero              2.7            2.9                 2.5
     Febrero            2.8            3.2                 2.2
     Marzo              3.8            3.2                 4.2
     Abril              4.6            3.5                 4.4
     Mayo               3.2            5.1                 3.5

              comunicación_mensual  recreacion_mensual  ...  \
2019 Enero                     7.4                 3.5  ...
     Febrero                   1.1                 2.2  ...
     Marzo                     4.4                 2.0  ...
     Abril                     3.5                 3.2  ...
     Mayo                      2.0                 2.4  ...

              servicios_vivienda_anual  hogar_anual  salud_anual  \
2019 Enero                        48.7         52.5         51.9
     Febrero                      52.4         54.0         53.1
     Marzo                        55.8         52.9         56.0
     Abril                        48.5         58.0         58.7
     Mayo                         55.5         59.6         63.1

              transporte_anual  comunicacion_anual  recreacion_anual  \
2019 Enero                67.3                63.7              43.5
     Febrero              63.6                51.7              45.2
     Marzo                67.5                54.1              46.3
     Abril                68.0                57.8              48.1
     Mayo                 70.6                54.9              48.0

              educacion_anual  restaurantes_hoteles_anual  \
2019 Enero               32.1                        40.1
     Febrero             31.8                        42.2
     Marzo               36.5                        45.8
     Abril               37.5                        48.4
     Mayo                40.8                        48.1

              bienes_servicios_varios_anual  tasa_mensual
2019 Enero                             55.1     57.578677
     Febrero                           57.1     47.721964
     Marzo                             59.0     61.287355
     Abril                             61.0     68.316700
     Mayo                              62.3     71.924129

[5 rows x 27 columns]

In [65]:
info_col = inflacion_col_mensual21.join(inflacion_col_anual21, how = 'inner').join(tasa_intervencion_col, how = 'inner')
info_col.head()

              nivel_general_mensual  alimentos_bebidas_no_alc_mensual  \
2019 Enero                     0.60                              1.40
     Febrero                   0.57                              0.23
     Marzo                     0.43                              0.95
     Abril                     0.50                              1.07
     Mayo                      0.31                              0.65

              alcohol_tabaco_mensual  vestimenta_mensual  vivienda_mensual  \
2019 Enero                      0.49               -0.16              0.25
     Febrero                    1.05                0.08              0.27
     Marzo                      0.94               -0.02              0.67
     Abril                      0.81                0.07              0.47
     Mayo                       0.79                0.29              0.43

              hogar_mensual  salud_mensual  transporte_mensual  \
2019 Enero             0.46           0.37                0.37
     Febrero           0.39          -0.02                0.78
     Marzo             0.37           0.15                0.38
     Abril             0.46           0.31                0.23
     Mayo              0.32           0.25                0.01

              comunicación_mensual  recreacion_mensual  ...  \
2019 Enero                    1.44                0.47  ...
     Febrero                 -0.12                0.53  ...
     Marzo                   -0.13               -0.50  ...
     Abril                    0.72                0.33  ...
     Mayo                    -0.06                0.19  ...

              servicios_vivienda_anual  hogar_anual  salud_anual  \
2019 Enero                         NaN          NaN          NaN
     Febrero                       NaN          NaN          NaN
     Marzo                         NaN          NaN          NaN
     Abril                         NaN          NaN          NaN
     Mayo                          NaN          NaN          NaN

              transporte_anual  comunicacion_anual  recreacion_anual  \
2019 Enero                 NaN                1.69               NaN
     Febrero               NaN                1.33               NaN
     Marzo                 NaN                1.20               NaN
     Abril                 NaN                1.93               NaN
     Mayo                  NaN                1.88               NaN

              educacion_anual  restaurantes_hoteles_anual  \
2019 Enero                NaN                         NaN
     Febrero              NaN                         NaN
     Marzo                NaN                         NaN
     Abril                NaN                         NaN
     Mayo                 NaN                         NaN

              bienes_servicios_varios_anual  tasa_mensual
2019 Enero                              NaN          4.25
     Febrero                            NaN          4.25
     Marzo                              NaN          4.25
     Abril                              NaN          4.25
     Mayo                               NaN          4.25

[5 rows x 27 columns]

In [68]:
from statistics import mode

indicador = input("Indicador a calcular: ")

print(f"Media del {indicador} de Argentina:", np.mean(info_arg[indicador]))
print(f"Mediana del {indicador} de Argentina:", np.median(info_arg[indicador]))
print(f"Moda del {indicador} de Argentina:", mode(info_arg[indicador]))


print(f"Media del {indicador} de Colombia:", np.mean(info_col[indicador]))
print(f"Mediana del {indicador} de Colombia:", np.median(info_col[indicador]))
print(f"Moda del {indicador} de Colombia:", mode(info_col[indicador]))

Media del nivel_general_anual de Argentina: 48.18648648648649
Mediana del nivel_general_anual de Argentina: 50.5
Moda del nivel_general_anual de Argentina: 55.8
Media del nivel_general_anual de Colombia: 3.2840540540540544
Mediana del nivel_general_anual de Colombia: 3.43
Moda del nivel_general_anual de Colombia: 3.86