In [14]:
import numpy as np
import pandas as pd
import matplotlib as mlt
import matplotlib.pyplot as plt
import xlrd
%matplotlib inline

In [70]:
inflacion_arg_men = pd.read_excel("Inflación.xlsx",sheet_name = "Inflacion mensual por sector")
inflacion_arg_men.head()

,Año,Mes,nivel_general,alimentos_bebidas_no_alc,alcohol_tabaco,vestimenta,vivienda,hogar,salud,transporte,comunicacion,recreacion,educacion,restaurantes_hoteles,bienes_servicios_varios,Estacional,Núcleo,Regulados,Bienes,Servicios
0,2017,1,1.6,1.3,0.9,-1.0,1.5,0.9,2.4,2.1,3.1,3.2,0.8,3.1,1.9,1.7,1.5,1.8,1.2,2.4
1,2017,2,2.1,1.8,4.3,-0.2,5.4,0.4,2.7,1.9,4.1,0.6,3.2,1.7,1.8,0.6,1.7,4.0,1.5,3.0
2,2017,3,2.4,2.8,1.9,3.4,3.6,0.8,2.0,1.2,3.2,1.7,10.9,1.0,1.8,2.4,1.9,3.8,2.2,2.9
3,2017,4,2.7,2.2,2.4,4.5,5.9,1.1,1.8,0.6,6.8,2.6,2.9,1.9,1.8,3.2,2.1,4.1,2.4,3.2
4,2017,5,1.4,1.3,1.7,1.7,1.8,2.8,1.5,0.9,0.3,0.7,1.7,1.5,1.3,0.8,1.7,1.0,1.4,1.5

In [71]:
index = list(zip(inflacion_arg_men["Año"],inflacion_arg_men["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [72]:
inflacion_arg_men.set_index(index,inplace = True)
inflacion_arg_men.drop(["Año", "Mes"], axis = 1, inplace = True)

In [74]:
inflacion_arg_men.head()

        nivel_general  alimentos_bebidas_no_alc  alcohol_tabaco  vestimenta  \
2017 1            1.6                       1.3             0.9        -1.0
     2            2.1                       1.8             4.3        -0.2
     3            2.4                       2.8             1.9         3.4
     4            2.7                       2.2             2.4         4.5
     5            1.4                       1.3             1.7         1.7

        vivienda  hogar  salud  transporte  comunicacion  recreacion  \
2017 1       1.5    0.9    2.4         2.1           3.1         3.2
     2       5.4    0.4    2.7         1.9           4.1         0.6
     3       3.6    0.8    2.0         1.2           3.2         1.7
     4       5.9    1.1    1.8         0.6           6.8         2.6
     5       1.8    2.8    1.5         0.9           0.3         0.7

        educacion  restaurantes_hoteles  bienes_servicios_varios  Estacional  \
2017 1        0.8                   3.1                      1.9         1.7
     2        3.2                   1.7                      1.8         0.6
     3       10.9                   1.0                      1.8         2.4
     4        2.9                   1.9                      1.8         3.2
     5        1.7                   1.5                      1.3         0.8

        Núcleo  Regulados  Bienes  Servicios
2017 1     1.5        1.8     1.2        2.4
     2     1.7        4.0     1.5        3.0
     3     1.9        3.8     2.2        2.9
     4     2.1        4.1     2.4        3.2
     5     1.7        1.0     1.4        1.5

In [75]:
inflacion_arg_anual = pd.read_excel("Inflación.xlsx",sheet_name = "Inflacion anual por sector")
inflacion_arg_anual.head()

,Año,Mes,nivel_general,alimentos_bebidas_no_alc,alcohol_tabaco,vestimenta,vivienda,hogar,salud,transporte,comunicacion,recreacion,educacion,restaurantes_hoteles,bienes_servicios_varios,Estacional,Núcleo,Regulados,Bienes,Servicios
0,2017,12,24.8,20.4,23.7,16.6,55.6,17.4,27.8,20.6,34.1,22.8,31.5,22.1,19.8,21.5,21.1,38.7,20.1,34.2
1,2018,1,25.0,21.3,25.4,16.9,54.9,17.6,27.1,20.7,32.6,23.1,31.3,21.9,20.4,22.6,21.1,39.1,20.6,33.8
2,2018,2,25.4,21.7,22.3,16.4,52.5,19.1,26.6,23.8,39.0,23.6,29.7,22.4,20.3,21.0,21.6,40.2,21.0,34.4
3,2018,3,25.4,21.2,20.8,17.4,48.0,23.5,25.8,24.6,38.4,23.0,33.0,23.3,20.4,20.1,22.4,37.7,20.9,34.1
4,2018,4,25.5,19.9,19.5,16.9,51.0,23.7,25.8,28.8,30.9,22.2,30.3,23.7,20.3,17.4,22.4,39.3,20.7,34.8

In [76]:
index = list(zip(inflacion_arg_anual["Año"],inflacion_arg_anual["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [77]:
inflacion_arg_anual.set_index(index, inplace=True)
inflacion_arg_anual.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_arg_anual.head()

         nivel_general  alimentos_bebidas_no_alc  alcohol_tabaco  vestimenta  \
2017 12           24.8                      20.4            23.7        16.6
2018 1            25.0                      21.3            25.4        16.9
     2            25.4                      21.7            22.3        16.4
     3            25.4                      21.2            20.8        17.4
     4            25.5                      19.9            19.5        16.9

         vivienda  hogar  salud  transporte  comunicacion  recreacion  \
2017 12      55.6   17.4   27.8        20.6          34.1        22.8
2018 1       54.9   17.6   27.1        20.7          32.6        23.1
     2       52.5   19.1   26.6        23.8          39.0        23.6
     3       48.0   23.5   25.8        24.6          38.4        23.0
     4       51.0   23.7   25.8        28.8          30.9        22.2

         educacion  restaurantes_hoteles  bienes_servicios_varios  Estacional  \
2017 12       31.5                  22.1                     19.8        21.5
2018 1        31.3                  21.9                     20.4        22.6
     2        29.7                  22.4                     20.3        21.0
     3        33.0                  23.3                     20.4        20.1
     4        30.3                  23.7                     20.3        17.4

         Núcleo  Regulados  Bienes  Servicios
2017 12    21.1       38.7    20.1       34.2
2018 1     21.1       39.1    20.6       33.8
     2     21.6       40.2    21.0       34.4
     3     22.4       37.7    20.9       34.1
     4     22.4       39.3    20.7       34.8

In [84]:
inflacion_col_men = pd.read_excel("1.2.3.IPC_Por grupo de gasto.xlsx", sheet_name="Inflacion mensual por sector")

In [79]:
inflacion_col_men.head()

,Año,Mes,TOTAL,Alimentos,Vivienda,Vestuario,Salud,Educación,Diversión,Transporte,Comunicaciones,Otros Gastos
0,2017,1,1.024114,1.622083,0.709280,0.165646,1.295235,0.033001,1.080814,0.940034,1.579505,1.057048
1,2017,2,1.005739,0.709075,0.427276,0.518690,1.094947,6.777650,-0.974921,0.405674,1.648996,1.620817
2,2017,3,0.465830,0.113657,0.529962,0.385676,1.282370,0.040779,0.518713,0.575621,1.534859,1.129390
3,2017,4,0.473723,0.130721,0.673076,0.381234,0.722388,0.012780,0.267737,1.001560,0.274245,0.586501
4,2017,5,0.225318,0.072901,0.489332,0.156571,0.425030,0.006687,-0.098488,0.191702,-0.043494,0.208625

In [85]:
index = list(zip(inflacion_col_men["Año"],inflacion_col_men["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [86]:
inflacion_col_men.set_index(index, inplace=True)
inflacion_col_men.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_men.head()

           TOTAL  Alimentos  Vivienda  Vestuario     Salud  Educación  \
2017 1  1.024114   1.622083  0.709280   0.165646  1.295235   0.033001
     2  1.005739   0.709075  0.427276   0.518690  1.094947   6.777650
     3  0.465830   0.113657  0.529962   0.385676  1.282370   0.040779
     4  0.473723   0.130721  0.673076   0.381234  0.722388   0.012780
     5  0.225318   0.072901  0.489332   0.156571  0.425030   0.006687

        Diversión  Transporte  Comunicaciones  Otros Gastos
2017 1   1.080814    0.940034        1.579505      1.057048
     2  -0.974921    0.405674        1.648996      1.620817
     3   0.518713    0.575621        1.534859      1.129390
     4   0.267737    1.001560        0.274245      0.586501
     5  -0.098488    0.191702       -0.043494      0.208625

In [88]:
inflacion_col_anual = pd.read_excel("1.2.3.IPC_Por grupo de gasto.xlsx", sheet_name="Inflacion anual por sector")

In [89]:
inflacion_col_anual.head()

,Año,Mes,TOTAL,Alimentos,Vivienda,Vestuario,Salud,Educación,Diversión,Transporte,Comunicaciones,Otros Gastos
0,2017,1,5.469189,5.971688,4.914201,3.612137,7.930456,6.298360,4.014732,4.701341,6.048445,7.321255
1,2017,2,5.183980,5.212075,4.548169,3.658164,7.830089,7.517386,1.981870,4.263111,7.795059,7.800699
2,2017,3,4.686057,3.652154,4.228242,3.577970,7.926260,7.533894,3.507506,4.586876,7.013633,7.881870
3,2017,4,4.662749,2.494288,5.075406,3.523811,7.807408,7.515984,3.625891,5.152911,7.289567,7.650483
4,2017,5,4.366522,2.094730,4.793283,3.301877,7.710451,7.505768,3.319984,4.837901,7.269236,7.265942

In [90]:
index = list(zip(inflacion_col_anual["Año"],inflacion_col_anual["Mes"]))
index = pd.MultiIndex.from_tuples(index)

In [91]:
inflacion_col_anual.set_index(index, inplace=True)
inflacion_col_anual.drop(["Año", "Mes"], axis=1, inplace=True)
inflacion_col_anual.head()

           TOTAL  Alimentos  Vivienda  Vestuario     Salud  Educación  \
2017 1  5.469189   5.971688  4.914201   3.612137  7.930456   6.298360
     2  5.183980   5.212075  4.548169   3.658164  7.830089   7.517386
     3  4.686057   3.652154  4.228242   3.577970  7.926260   7.533894
     4  4.662749   2.494288  5.075406   3.523811  7.807408   7.515984
     5  4.366522   2.094730  4.793283   3.301877  7.710451   7.505768

        Diversión  Transporte  Comunicaciones  Otros Gastos
2017 1   4.014732    4.701341        6.048445      7.321255
     2   1.981870    4.263111        7.795059      7.800699
     3   3.507506    4.586876        7.013633      7.881870
     4   3.625891    5.152911        7.289567      7.650483
     5   3.319984    4.837901        7.269236      7.265942